.key {
	position: relative;
	font-size: var(--font-size);
	border-radius: 0 0 var(--radius) var(--radius);
	text-transform: uppercase;
	user-select: none;
}

.key--natural {
	width: var(--white-key-width);
	height: var(--white-key-height);
	padding-top: var(--white-key-padding);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.4);
	margin-right: -1px;
	z-index: 1;
}

.key--sharp {
	width: var(--black-key-width);
	height: var(--black-key-height);
	padding-top: var(--black-key-padding);
	background-color: #111;
	color: white;
	margin: 0 calc(-0.5 * calc(var(--black-key-width)));
	z-index: 2;
}
